# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# 虚拟环境
venv/
.venv/
ENV/

# 编辑器和IDE
.idea/
.vscode/
*.swp
*.swo

# 操作系统
.DS_Store
Thumbs.db

# 环境变量和敏感信息
.env
.env.*
!.env.example
secrets.py
credentials.py

# 忽略日志文件
logs/

# cursor规则文件
.cursor